@import url("https://fonts.googleapis.com/css?family=Ubuntu");
*/ * {
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 71, 202);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s;
}

h1{
  text-align: center;
  color: #9f68e0;
}

.container {
  opacity: 90%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 85vh;
  width: 85vw;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

input{
	color: #9f68e0;
}

.btn {
  background-color: #9f68e0;
  color: #000;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 22px;
  font-size: 16px;
  cursor: pointer;
}


